<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1">
  <link type="text/css" href="/styles/base.css" rel="stylesheet">
  <link type="text/css" href="/styles/flex.css" rel="stylesheet">
  <script src="libs/jquery/jquery.js"></script>
</head>

<body>
  <div class="page-wrapper">
    <div class="card">
      <div class="card-row">
        <img class="logo" src="/res/logo.png">
        <p class="thanks"> thanks you thug </p>
      </div>
    </div>
  </div>
</body>

<script>

  $(".blink").focus(function(){
    $(".enter-button").addClass("visible");
  });

</script>

</html>
